

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 100;
    src: url('fonts/core/woff/IRANYekanX-Thin.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-Thin.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/core/woff/IRANYekanX-UltraLight.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/core/woff/IRANYekanX-Light.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-Light.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/core/woff/IRANYekanX-Medium.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-Medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 600;
    src: url('fonts/core/woff/IRANYekanX-DemiBold.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 800;
    src: url('fonts/core/woff/IRANYekanX-ExtraBold.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    src: url('fonts/core/woff/IRANYekanX-Black.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-Black.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    src: url('fonts/core/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 1000;
    src: url('fonts/core/woff/IRANYekanX-Heavy.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/core/woff/IRANYekanX-Bold.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/core/woff/IRANYekanX-Regular.woff') format('woff'),
    url('fonts/core/woff2/IRANYekanX-Regular.woff2') format('woff2');
}

body{
    font-family: IRANYekanX ,"Segoe UI";
}
